# Ignore dataset repository
predicting-human-gaze-beyond-pixels/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
gaze2text/

# Jupyter
.ipynb_checkpoints/


# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
# Ignore backup of nested git data when converting submodule
stats/.git.backup/